<div class="product-grid__item   grid__item one-half large--one-third" >
{{test}}
    <!--Repeat over your data and display it below -->
    <div ng-repeat="product in products">

    <!--Product skeleton-->
        <!--Product Image-->
        <img ng-click="show = !show" ng-hide="show" ng-src="{{product.image}}">
        <!--Product Image click collapse the image-->
        <a class="product-grid__product" >
            <img class="product-grid__img"   sizes="(min-width: 960px) 33vw, (min-width: 769px) 50vw, 100vw" alt="">
        </a>
        <a ng-click="show = !show" ng-show="show" class="product-grid__product">
            show image
        </a>

        <!--Product Meta-->
        <div class="product-grid__meta">
            <!--Title click Should redirect to the product-details section. remember to pass along the product id so you can make an api call
        to get the specific product details-->
            <h3 class="product-grid__name"><a ui-sref="details ({id: product.id})"><!--Title-->{{product.title}}</a></h3>

            <!--Product Description-->
            <h4 class="product-grid__sub"><!--Desc-->{{product.desc}}</h4>

            <!--Product Price-->
            <div class="product-grid__price"><!--Price-->${{product.price}}</div>
        </div>
    <!--End product Skeleton-->
    <div>
</div>
